#container {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}
.square {
    background-color: white;
    border: 1px solid black;
}

.colorBlack {
    background-color: black;
}

button {
    border : 1px solid black;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;

}

body {
    background-color: darkseagreen;
    font-family: 'Courier New', Courier, monospace;
}