#container {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}
.square {
    background-color: white;
    border: 1px solid black;
}

.colorBlack {
    background-color: black;
}

button {
    border : 1px solid black;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    width: 150px;
    height: 150px;
}

body {
    background-color: darkseagreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

#navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menuContainer {
    display: flex;
    margin-right: 4rem;
    flex-direction: column;
}

#colors {
    display: flex;
    flex-direction: column;
}