#container {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}
.square {
    background-color: white;
    border: 1px solid black;
}

.colorBlack {
    background-color: black;
}

